<%= link_to(event) do %>
  <div class="card-event" style="background-image: url(<%= event.movie.poster_url %>)">

    <div class="card-event-info">
      <%= cl_image_tag event.user.avatar, class: "avatar-large", alt: "avatar-large"%>
      <h2><strong><%= event.name %></strong></h2>
      <span><%= event.description %></span>

      <div class="card-event-details">
        <div><span ><i class="fa-regular fa-calendar-clock"></i><%= event.start_time.strftime('%d %B') %></span></div>
        <div><span><i class="fa-solid fa-people-group"></i><%= event.max_registrations %></span></div>
      </div>
    </div>

  </div>
<% end %>
