<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= event.language %>
  </p>

  <p>
    <strong>Number of guests (max):</strong>
    <%= event.max_registrations %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= event.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= event.end_time %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= event.movie_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= event.address %>
    <% event.latitude %>
    <% event.longitude %>
  </p>
</div>
