<div id="<%= dom_id(event) %>" flexbox>
  <div class="event-description">
    <span><%= event.name%></span>
    <span><%= event.description %></span>

    <div>
      <span><%= event.user.nickname%>'s place:</span>
      <div class="location">
        <img src="<%= asset_path('people3.jpg') %>">
      </div>
    </div>

  </div>

  <div class="event-details" id="<%= dom_id(event) %>">
      <p><strong>Language:</strong><%= event.language %></p>
      <p><strong>Avalable sits:</strong><%= event.max_registrations %></p>
      <p><strong>Start time:</strong><%= event.start_time %> - <%= event.end_time %></p>
      <p><strong>Movie:</strong><%= event.movie_id %></p>
      <p><strong>Location:</strong><%= event.address %>
      </p>
    <div class="map">
      <%= image_tag "zurich-map.png" %>
    </div>
  </div>
</div>
