<%# This partial should be in the movie directory %>
<div class="card h-100">
  <%= link_to(event) do %>
  <img src="https://d18mr9iuob0gar.cloudfront.net/media/boats/2022/06/rental-Motor-boat-bPRINCESS-55feet-bZakynthos-bGR_DIGr3Pi.jpg" class="card-img-top"/>
  <div class="card-body">
    <h2 class="card-title"><strong><%= event.name %></strong></h2>
    <p class="card-text"><%= event.address %></p>
    <br>
    <div style="display: flex; justify-content: space-between;">
      <div>
        <p class="card-text"><%= event.description %></p>
      </div>
      <div>
        <p class="card-text">from <%= event.max_registrations %> peoples</p>
      </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
      <div>
        <p class="card-text">from <%= event.start_time %></p>
      </div>
      <div>
        <p class="card-text">from <%= event.end_time %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
