<div class="container" id="first">
  <div class="container-fluid">
  <%# Adds search form with global search from PgSearch %>
    <%= form_with url: events_path, method: :get, class: "d-flex" do %>
      <div class="search-form-control form-group events-search">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control string required events-form",
          style: "margin-bottom: 8px",
          placeholder: "Find an event"
        %>
        <%= submit_tag "Search", class: "btn btn-warning" %>
        </div>
    <% end %>
  </div>

  <div class="card-events" id="events">
    <% @events.each do |event| %>

      <%= render "card_event", event: event %>

    <% end %>
  </div>
  <%# Adds map to homepage %>
  <div id= "map" style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
