<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p style="color: green"><%= notice %></p>

      <%= render @event %>

      <p>Sign up here below to attend this event</p>
      <%= render 'requests/request', event: @event %>

      <div>
        <%= link_to "Edit this event", edit_event_path(@event) %> |
        <%= link_to "Back to events", events_path %>

        <%= button_to "Destroy this event", @event, method: :delete %>
      </div>
    </div>
  </div>
</div>
