<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
<p style="color: green"><%= notice %></p>

<h1>Requests</h1>

<div id="requests">
  <%= @requests.where(user_id: current_user, status: 'pending').each do |request| %>
    <p>
      <strong>Event name:</strong>
      <%= request.event.name %>
    </p>
    <p>
      <strong>Request status:</strong>
      <%= request.status %>
    </p>
    <%= link_to "Show this request", events_path(request) %>
    <br>
  <% end %>
</div>
<<<<<<< HEAD

<%= link_to "New request", new_request_path %>
    </div>
  </div>
</div>
=======
>>>>>>> 771a35da16eac93660c0185f3ef8511b94036f8a
