<div id="<%= dom_id review %>">
  <p>
    <strong>Comment:</strong>
    <%= review.comment %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= review.event_id %>
  </p>

  <p>
    <strong>Reviewer:</strong>
    <%= Review.find_by(reviewer_id: current_user) %>
  </p>

</div>
